/* LoginPage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #e0e093;
    margin-top: 200px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 500px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .button-container,
.link-container {
  width: 100%; /* Take full width to allow text-align to work */
  text-align: center; /* Center the button and link text */
}